body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Font type for the players */
.human-player {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.computer-player {
    font-family: "Courier New", Courier, monospace;
}

.word {
    font-size: xx-large;
}

.letter-input {
   width: 60px;
}